<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
     maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>教材预定查询</title>

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/myCSS.css" rel="stylesheet">
    <link href="../static/css/spin.css" rel="stylesheet">
    <link href="../static/css/Zibra.css" rel="stylesheet">
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/90568/19505/57c3e9d9f629d817f8c254f3.css' rel='stylesheet'/>
    <link href='//cdn.webfont.youziku.com/webfonts/nomal/90568/19673/57c3eaa1f629d817f8c254f8.css' rel='stylesheet'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="margin: 0 auto;text-align: center;background: #bbc1f1">
    <div id="wholewrapper">
        <div class="three-quarters-loader"></div>
    </div>
    <div id="background">
        <img src="../static/img/background.jpg" id="backImg"/>
    </div>
    <div>
        <p id="title" class="css57a72c003161c8">教材预定查询</p>
    </div>


    <div id="input_wrapper">
        <div id="input">
            <form id="form">
                <input type="text" placeholder="输入你的名字..." id="input_name" name="username">
                <br>
                <input type="button" value="查 询" id="input_btn">
                <p id="prompt"></p>
            </form>
        </div>
    </div>


    <div id="foot">
        <!--<p>QQ:545023318 赣ICP备15011558号</p>-->
        <p>Designed by zyt</p>
    </div>


    <script src="../static/js/myJS.js"></script>

</body>
</html>